{% extends "base.html" %}
{% block content %}
    <h3 style="margin-top: 15px; margin-bottom: 10px;">What Is It?</h3>
    <p>
    This is an online Pycodestyle checker modified for UCI's ICS 31 course.
    <br> Your code might be analyzed for style, so you can use this website to check beforehand.
    <br> Just paste your code or upload file and see results.
    </p>
    <h3 style="margin-top: 15px; margin-bottom: 10px;">How Does It Work?</h3>
    <p> You can paste your code or upload a .py file to check for style.
    <br> This project was originally built by <a href="http://bryukh.com">Valentin Bryukhanov</a>, and the original project can be found <a href="https://github.com/Bryukh/pep8online">here</a>.
    <br>
    <br> In order to use newer style guides, one of your TA's (Caio :) ported the code to python3 and changed pep8 to pycodestyle instead.
    <br> This modified version can be found <a href="https://github.com/cbdm/pep8online">here</a>.
    </p>
    <h3 style="margin-top: 15px; margin-bottom: 10px;">Why?</h3>
    <p>To encourage students to produce code that's easier to understand.</p>
{% endblock %}