{% extends "base.html" %}
{% block content %}

    <form name="code_form" action="/checkresult" method="POST">
        <label for="code">
            <input type="hidden" id="code" name="code" value="">
        </label>
        <textarea id="editor"></textarea>
        <script src="/static/js/codemirror.js"></script>
        <script src="/static/js/python.js"></script>
        <script>
        var editor = CodeMirror.fromTextArea(document.getElementById("editor"), {
            mode: {name: "python",
                   version: 3,
                   singleLineStringErrors: false},
            lineNumbers: true,
            indentUnit: 4,
            matchBrackets: true
        });
        var textarea = document.getElementById('code');
        var codeSubmit = function() {
            textarea.value = editor.getValue();
            document.forms['code_form'].submit();
        }
        </script>
        <br>
        <button type="submit" class="btn btn-primary" onclick="codeSubmit()">Check Code</button>
    </form>

{% endblock %}